.voucher {
    background: #FFFFFFF2;
    margin: 1em;
    border: 1.3px solid #ccc;
}
#v-id {
    text-align: center;
    letter-spacing: 0.12em;
    line-height: 1;
    font-weight: 400;
    font-size: 31px;
}