
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body {
    font-family: 'SF Pro Text', -apple-system, system-ui, 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'SF Pro Display', -apple-system, system-ui, 'Raleway', sans-serif;
    font-weight: 100;
}

.title {
    text-align: center;
    line-height: 1.5;
}

.main {
    background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
    color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(0, 0, 0, 0.08);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 252px;
}

.spinner-grow {
    width: 4em;
    height: 4em;
}

.form-control,
.btn {
    border-radius: 0;
}

.btn-back {
    float: left;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: 300;
    color: #222222b3;
}

.separator {
    margin: 25px auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

#success h1 {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50);
    text-align: center;
    width: 100%;
}

#approval .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2rem;
}

#approval>h2 {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-bottom: 3vh;
}

#loading>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading>div>div {
    width: 3rem;
    height: 3rem;
}

#error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#error-container>h1>i {
    font-size: 65px;
    line-height: 100px;
}

#error-container>#error-msg {
    font-weight: 200;
    width: max-content;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

#error {
    display: none;
}

#success {
    display: none;
}

#loading {
    display: none;
}

#approval {
    display: none;
}

#manual {
    min-width: max-content;
}

@media screen and (min-width: 541px) {
    #manual {
        padding: 6px 35px;
        width: max-content !important;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.request-buttons button {
    width: 42px;
}
.view {
    display: none;
}