<!-- Awaiting approval -->
<div id="approval" class="view">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);margin-top: -2rem;">
        <div class="spinner-grow spinner-grow-lg text-success"  role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="btn-back"><i class="fas fa-chevron-left "></i> Back</div>
    <h2 style="bottom: 0; width: 100%; text-align: center; position: absolute; margin-bottom: 3vh;">Waiting for
        approval...</h2>
</div>