<!-- Voucher view -->
<div class="view" id="voucher-view">
  <h1 class="noselect">Voucher</h1>
  <div class="p-3 voucher row">
    <div class="col-12" style="padding: 0"><h2 id="v-id" style="cursor: pointer"></h2></div>
    <div class="col noselect" id="v-duration" style="display: none">Duration:</div>
    <div class="col noselect" id="v-speed" style="display: none">Speed:</div>
    <div class="col noselect d-none d-lg-block" id="v-expire" style="display: none">Expires:</div>
  </div>
</div>