{% extends 'default.twig' %}

{% block content %}
  <div class="main col-12 col-md-6 col-lg-4" style="padding:1.2em">
    <form method="post">
      <h1 >Create voucher</h1>

      <div class="form-floating mb-3">
        <input type="number" id="uses" class="form-control" placeholder="1">
        <label for="uses">Uses</label>
      </div>

      <div class="form-floating mb-3">
        <input type="datetime-local" id="expiry" class="form-control" placeholder="yyyy/mm/dd hh:mm">
        <label for="expiry">Expiry</label>
      </div>

      <hr>

      <div class="row">
      <div class="form-floating mb-3 col-10" style="padding-right:0">
        <input type="number" id="duration" class="form-control" placeholder="1" >
        <label for="duration">Duration</label>
      </div>
      <div class="col-2 align-middle" style="padding: 1em 0 1em 0;background:#ccc;border:1px solid #bbb;margin-bottom: 1em;border-left:0;">Hours</div>
      </div>

      <div class="justify-content-md-start">
        <button type="submit" class="btn btn-lg btn-success">Create</button>
      </div>

    </form>
  </div>
{% endblock %}