{% extends 'default.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/admin.css"/>
{% endblock %}

{% block content %}
  <div class="main col-12 col-md-6 col-lg-4" style="padding:1.2em">
    <form class="view" style="display: block">
      <h1>Create voucher</h1>

      <div class="form-floating mb-3">
        <input type="number" id="uses" class="form-control" placeholder="1" value="1" required>
        <label for="uses">Uses</label>
      </div>

      <div class="form-floating mb-3">
        <input type="datetime-local" id="expiry" class="form-control" placeholder="yyyy/mm/dd hh:mm" required>
        <label for="expiry">Expiry</label>
      </div>

      <hr>

      <div class="row">
        <div class="form-floating mb-3 col-10" style="padding-right:0">
          <input type="number" id="duration" class="form-control" placeholder="1" value="12" required>
          <label for="duration">Duration</label>
        </div>
        <div class="col-2 align-middle"
             style="padding: 1em 0 1em 0;background:#ccc;border:1px solid #bbb;margin-bottom: 1em;border-left:0;">Hours
        </div>
      </div>

      <div class="justify-content-md-start">
        <button type="submit" class="btn btn-lg btn-success">Create</button>
      </div>
    </form>

    <div class="view">
      <h1 class="noselect">Voucher</h1>
      <div class="p-3 voucher row">
        <div class="col-12" style="padding: 0"><h2 id="v-id" style="cursor: pointer"></h2></div>
        <div class="col noselect" id="v-duration" style="display: none">Duration: </div>
        <div class="col noselect" id="v-speed" style="display: none">Speed: </div>
        <div class="col noselect d-none d-lg-block" id="v-expire" style="display: none">Expires: </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script src="/js/admin.js"></script>
{% endblock %}