<html lang="en-us">

<head>
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <title>Guest WiFi</title>
  <link rel="icon" href="/img/favicon.svg" type="image/svg+xml"/>
  <link rel="alternate icon" href="/img/favicon.png" type="image/png"/>
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  {% block stylesheets %}{% endblock %}
</head>

<body>
<picture>
  <source srcset="/img/bg/bg-lg.avif 1920w, /img/bg/bg.avif 4096w" type="image/avif">
  <source srcset="/img/bg/bg-lg.webp 1920w, /img/bg/bg.webp 4096w" type="image/webp">
  <img srcset="/img/bg/bg-lg.jpg 1920w, /img/bg/bg.jpg 4096w" src="/img/bg/bg.jpg" draggable="false"
       onmousedown="return false" class="background d-print-none noselect">
</picture>

<div class="container">
  <div class="main col-12 col-md-6 col-lg-4" style="padding:1.2em">
    {% block content %}{% endblock %}
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
{% block javascript %}{% endblock %}
</body>

</html>