<html lang="en-us">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Guest WiFi</title>
    <link rel="icon" href="/img/favicon.svg" type="image/x-icon"/>
    <link rel="icon" href="/img/favicon.png" type="image/png"/>
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="256x256"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" integrity="sha512-rxThY3LYIfYsVCWPCW9dB0k+e3RZB39f23ylUYTEuZMDrN/vRqLdaCBo/FbvVT6uC2r0ObfPzotsfKF9Qc5W5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<picture>
    <source srcset="/img/bg-lg.avif 1920w, /img/bg.avif 4096w" type="image/avif">
    <source srcset="/img/bg-lg.webp 1920w, /img/bg.webp 4096w" type="image/webp">
    <img srcset="/img/bg-lg.jpg 1920w, /img/bg.jpg 4096w"  src="/img/bg.jpg" draggable="false" class="background">
</picture>
<div class="container">
    {% block content%}{% endblock %}
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/modenizr-webp.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
<script src="/js/admin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>