<!-- Error -->
<div id="error" class="view position-relative h-100">
  <div class="btn-back noselect"><i class="bi bi-chevron-left"></i> Back</div>
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1 id="error-icon">☹️</h1>
    <h2 id="error-msg">Error:</h2>
  </div>
</div>