<!-- Awaiting approval -->
<div id="approval" class="view">
  <div class="spinner">
    <div class="spinner-grow spinner-grow-lg text-success" role="status">
    </div>
  </div>
  <div class="btn-back noselect"><i class="bi bi-chevron-left"></i> Back</div>
  <h2 class="noselect">Waiting for approval...</h2>
</div>