<!-- Awaiting approval -->
<div id="approval" class="view">
  <div class="spinner">
    <div class="spinner-grow spinner-grow-lg text-success" role="status"></div>
  </div>
  <div class="btn-back noselect"><i class="bi bi-chevron-left"></i> {{ lang.back }}</div>
  <h2 class="noselect">{{ lang.loading_approval }}</h2>
</div>