<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-widthm initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Wifi Guest</title>
        <link rel="icon" href="/img/favicon.svg" type="image/x-icon"/>
        <link rel="icon" href="/img/favicon.png" type="image/png"/>
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="256x256"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        <div class="container">
            <div class="main col-12 col-xl-4" style="height: 252px;">
                {{ content }}
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>