<html lang="en-us">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Guest WiFi</title>
    <link rel="icon" href="/img/favicon.svg" type="image/x-icon" />
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="256x256" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/all.min.css"/>
</head>

<body>
    <div class="container">
        <div class="main col-12 col-md-10 col-xl-4" style="height: 252px;">
            {{ content }}
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/modenizr-webp.min.js"></script>
</body>

</html>